/* Avatar design */
.card-user {
    position: absolute;
    right: 10px;
    top: 10px;
}

.avatar-large {
    width: 50px;
}
.avatar {
    width: 30px;
    border-radius: 50%;
}
/* Avatar design */
